<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--加载属性文件-->
    <properties resource="db.properties"></properties>
    <settings>
        <!--1.自动转驼峰-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--2.支持二级缓存-->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <typeAliases>
        <package name="com.itwn.bean"></package>
    </typeAliases>

    <plugins>
        <!--加载分页插件-->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">

        </plugin>
    </plugins>
    <!--配置数据源-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${user}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <package name="com.itwn.mapper"/>
    </mappers>
</configuration>