.person {
    color: #e0e0e0;
    margin-left: 10px;
}
.person:hover {
    color: #fff;
}
.aside {
    height: 346px;
    padding: 10px 0px;
    background: rgba(0,0,0,.6);
}
.aside a{
    color: #fff;
}
.aside>.nav>li>a:hover{
    background: #ff6700;
}
.pro-item {
    text-align: center;
}
.pro-item .title {
    color: #333;
}
.pro-item .info {
    color: #999;
    overflow: hidden; /*超出部分隐藏*/
    white-space: nowrap; /*强制不换行*/
    text-overflow: ellipsis; /*超出部分使用省略号代替*/
}
.pro-item .price {
    color: #ff6700;
    font-size: 16px;
}
.pro-item:hover{
    box-shadow: #999 1px 1px 10px;
}
.pro-item img{
    width: 160px;
    height: 160px;
}
.pro-item img:hover {
    transform: scale(1.1);
    transition: 1s;
}
#user-name-label:hover{
    color: #ff6700;
    cursor: pointer;!important;
}
